<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title><%= food.name %></title>
  </head>
  <body>
    <h1><%= food.name %></h1>
    <% if (food.spicy) { %>
        <p>This food is caliente 🌶️!</p>
      <% } else { %>
        <p>This food is not Spicy!</p>
      <% } %>
      <form action="/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= food.name %></button>
      </form>
  </body>
    <a href="/foods/<%= food._id %>/edit">Edit <%= food.name %></a>
  <a href="/foods/">Back to Foods</a>
</html>
